
/* remove arrow buttons from input field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#addProductBox {
    background-color: #e2f3ff;
}

#imageInputButton:hover {
    cursor: pointer;
}

#imageInput {
    display: none;
}

#logOutButton {
    color: black;
}

#signInBox {
    display: inline;
    min-width: auto;
}

.deleteProduct {
    color: lightgray;
}

.deleteProduct:hover {
    color: lightcoral;
    cursor: pointer;
}

#toast {
    position: fixed;
    bottom: 4%; 
    left: 4%;
}

/* .popover-body {
  padding: 0;
} */
