/* Give 1% of margin to all children */
.all-c > *, #purchasesContent > p, #salesContent > p {
    margin: 1%;
}

html {
    font-size: 1rem;
}

.col {
    text-align: center;
}

h1 {
    font-size: 1.5rem;
}

.interactive {
    color: #56a2ff;
}

.interactive:hover {
    color: #2687ff;
    cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#messagesBox::-webkit-scrollbar, #purchasesContent::-webkit-scrollbar, #salesContent::-webkit-scrollbar {
    display: none;
}

#messagesBox, #purchasesContent, #salesContent{
    max-height: 30vh !important;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#loadingModalBody {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    bottom: 0;
    left: 0;
    flex-wrap: wrap;
    right: 0;
}

#loadingModalBody > svg{
    width: 100% !important;
}

#purchasesContent, #salesContent, #messagesBox {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#purchasesContent, #salesContent {
    max-height: 40vh !important;
}

/* Responsive text: it gets bigger as the root font size */
.rt {
    font-size: 1.10rem;
}

.rt-small {
    font-size: 0.8rem;
}

.rt-big {
    font-size: 1.7rem;
}

.rt-very-big {
    font-size: 2.5rem; 
}

/* Margin Right and Left */
.mrl {
    margin-left: 1%;
    margin-right: 1%;
}

/* Padding Right and Left */
.prl {
    padding-left: 1%;
    padding-right: 1%;
}

/* Responsive image */
.rimage{
    max-width: 10%;
    height: auto;
}

.w100{
    width: 100%;
}

.productImage  {
    max-width: 10vh;
    max-height: auto;
}

.transparent-input {
    border: none;
    background-color: transparent;
    color: black;
}

.hover:hover {
    background-color: #f7f7f7;
}

label {
    margin-bottom: 0;
}

/* input[type=number] {
    padding: 0;
} */

/* The stylesheet follows a mobile-first progressive enhancement approach */
/* This means that the style, design and overall look & feel of the web pages are built and rendered first to be seen in a small screen */
/* If the viewport happens to be a bigger screen, web page's style is changed according to theese rules. */
@media screen and (min-width:768px){
    h1 {
        font-size: 3rem;
    }

    .mrl {
        margin-left: 15%;
        margin-right: 15%;
    }

    .prl {
        padding-left: 15%;
        padding-right: 15%;
    }

    .rimage {
        max-width: 5%;
        height: auto;
    }

    .w100{
        width: auto;
    }
}